.catalog-sliders-navigation {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 15px;
  padding-right: 25px;
  padding-bottom: 20px;
  padding-left: 25px;
  box-sizing: border-box;

  @media (max-width: $desktop-breakpoint) {
    padding-right: 40px;
    padding-left: 40px;
  }

  @media (max-width: $tablet-breakpoint) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}


.catalog-sliders-navigation__button {
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
  color: $black-dif;
  background-color: transparent;
  border: none;
  padding: 5px 5px;
  margin-top: -20px;
  cursor: pointer;

  @media (max-width: $tablet-breakpoint) {
    display: none;
  }
}

.catalog-sliders-navigation__pagination {
  margin-top: 17px;
  margin-right: 40px;

  @media (max-width: $tablet-breakpoint) {
    display: block;
    margin: 0;
  }
}

.catalog-sliders-navigation .swiper-pagination-bullet {
  padding: 0 3px;

  @media (max-width: $tablet-breakpoint) {
    max-width: 100px;
    padding: 0 8px;
  }
}

.catalog-sliders-navigation button:hover,
.catalog-sliders-navigation button:focus {
  outline: 2px solid $light-brown;
  outline-offset: 2px;
}

.catalog-sliders-navigation button:active {
  opacity: 0.6;
}
